.background-profile {
    width: 70%;
    background-color: #2e2c38;
    margin-left: 5%;
}

.profile {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-top-left-radius: 65px;
    box-sizing: border-box;
    text-align: center;
}

.cover {
    width: 100%;
}

.cover img {
    width: 100%;
}

.profile-pic {
    position: absolute;
    top: 300px;
    left: 520px;
}

.profile h2 {
    margin-top: 45px;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 0.02em;
    line-height: 38px;
    text-align: center;
    color: #1d1f23;
}

.tabs {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.tab {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab:hover {
    cursor: pointer;
}

.tab p {
    font-weight: 500;
    font-size: 14px;
    color: #606770;
}

.icon-tab-photos {
    font-size: 30px;
    color: limegreen;
}

.icon-tab-posts {
    font-size: 30px;
    color: royalblue;
}

.icon-tab-todos {
    font-size: 30px;
}

.rapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-top-left-radius: 65px;
    padding: 30px;
    box-sizing: border-box;
    text-align: left;
}